$cyan50: #e0f7fa;
$cyan100: #b2ebf2;
$cyan200: #80deea;
$cyan300: #4dd0e1;
$cyan400: #26c6da;
$cyan500: #00bcd4;
$cyan600: #00acc1;
$cyan700: #0097a7;
$cyan800: #00838f;
$cyan900: #006064;

$secondary: rgb(117, 116, 116);

$main_border: solid 1px $cyan600;
$main_border__dark: solid 2px $cyan800;

$sub_border: solid 1px $secondary;
